lod_dxsm/dxsm_gcloud
lod_dxsm/LOD_summary_files
lod_dxsm/LOD_summary_files_dna
lod_dxsm/reduced_dxsm
lod_dxsm/community_std_titration
gcmnt
mnt
.DS_Store
AbsoluteQuantification.code-workspace
temp-plot.html
test.py
.ipynb_checkpoints
__pycache__
bowtie2_mapping/190812*
data/fastq
data/ref_genome
data/geneious_alignments/aspergillus_fumigatus_full_genome
data/geneious_alignments/candida_albicans_full_genome
data/geneious_alignments/cryptococcus_neoformans_full_genome
data/ref_gene_fastas
*.cov
T7_reporting_names/t7_simulated_reads.fa

