lod_dxsm/dxsm_gcloud
lod_dxsm/LOD_summary_files
lod_dxsm/LOD_summary_files_dna
lod_dxsm/reduced_dxsm
lod_dxsm/community_std_titration
lod_dxsm/synergy_std_titration
lod_dxsm/idbd_7log_std_titration
gcmnt
mnt
.DS_Store
AbsoluteQuantification.code-workspace
temp-plot.html
.ipynb_checkpoints
__pycache__
bowtie2_mapping/190812*
data/fastq
data/ref_genome
data/geneious_alignments/aspergillus_fumigatus_full_genome
data/geneious_alignments/candida_albicans_full_genome
data/geneious_alignments/cryptococcus_neoformans_full_genome
data/ref_gene_fastas
data/arup_urine_summary_files_with_quantification
*.cov
T7_reporting_names/t7_simulated_reads.fa
nohup.out
synergy/reproducibility/summary_with_quant
arup_urine_samples_ge_study/human_quantification/kallisto_analysis/kallisto_output
arup_urine_samples_ge_study/human_quantification/kallisto_analysis/GCF_000001405.39_GRCh38.p13_rna_from_genomic.fna.gz
arup_urine_samples_ge_study/human_quantification/kallisto_analysis/GCF_000001405.39_GRCh38.p13_rna_from_genomic.idx
model_training/bootstrap_env/
lod_dxsm/idbd_7log_std_titration/
